// Variables
$website-width: 1280px;
$main-color: #66369d;
$light-color: #fff;
$lesslight-color: #cdcdcd;
$medium-color: #bf9553;
$dark-color: #333;
$bg-image: url(../img/showcase.jpg);

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
